name: "build"
on: ["workflow_dispatch"]
jobs:
  build:
    name: "Build and push the Docker image to Docker Hub"
    runs-on: "ubuntu-latest"
    permissions:
      packages: "write"
      contents: "read"
    steps:
      - name: "Check out the repository"
        uses: "actions/checkout@v2"
      - name: "Set up QEMU"
        uses: "docker/setup-qemu-action@v1"
      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@v1"
      - name: "Log in to Docker Hub"
        uses: "docker/login-action@v1"
        with:
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: "Build and push the container image"
        uses: "docker/build-push-action@v2"
        with:
          push: true
          platforms: "linux/amd64,linux/arm/v7,linux/arm64/v8"
          tags: |
            ${{ github.actor }}/git:${{ github.sha }}-${{ github.run_id }}
            ${{ github.actor }}/git:latest
